body{background-color: lightblue; font-family: sans-serif;}
body>div{background-color: white; padding: 15px; margin: 10px auto; width: 90%; max-width: 500px; border-radius: 10px;}
input[type=submit]{ padding: 5px; margin: 10px;}
body>div>h1{float: left; padding: 5px; margin-bottom: 0px;}
body>div>h2,body>div>h3{clear: both; padding: 5px; margin-bottom: 0px; padding-bottom: 0px }
ul { margin-top: 3px;}
hr {clear: both; background-color: #DDD; height: 3px; border: none;}
thead{background-color: #BBB;}
tbody tr:nth-child(even){background-color: #DDD;}
table {width: 100%; border-radius: 0px 10px 10px 0px;}
td,th {margin: 2px;}
#ts::after{ content:""; clear:both; display: table}
.r {background-color: #f56642; width: 1.57%; margin-right: 0.5%; float: left}
.b {background-color: #4299f5; width: 1.57%; margin-right: 0.5%; float: left}
.up {background-color: green}
.down {background-color: red}
.even {background-color: yellow}
.half {width: 50%; float: left; text-align: center; font-size: 12px; margin-bottom: 8px}

.current {
	margin: 10px;
	font-size: 60px;
	position: relative;
}
.temp {
	float: left;
}

.barometer {
	font-size: 30px;
	margin: 0px 10px;
	display: inline-block;
	padding-left: 15px;
}

.pressure span {
	font-size: 16px;
}
.trend {
	font-size: 16px;
}

.current img {
	max-width: 60px;
	max-height: 25px;
}

@media only screen and (max-width: 494px){
	.barometer {
		clear: left;
		display: block;
		padding-left: 0px;
		margin: 0px;
		width: 70%;
		float: left;
	}
	.current .temp {
		width: 70%;
	}
	.current img {
		max-width: 40px;
	}	
	.current::after {
		 content:""; clear:both; display: table
	}
}