body{background-color: lightblue; font-family: sans-serif;}
body>div{background-color: white; padding: 5px; margin: 10px auto; width: 90%; max-width: 500px; border-radius: 10px;}
input[type=submit]{font-weight: bold; background-color: orange; padding: 5px; margin: 10px; float: right; color: white; border-radius: 10px}
body>div>h1{float: left; margin: 10px; padding: 5px;}
body>div>h2{clear: both; margin: 10px; padding: 5px;}
thead{background-color: #BBB;}
tbody tr:nth-child(even){background-color: #DDD;}
table {width: 100%; border-radius: 0px 10px 10px 0px;}
td,th {margin: 2px;}
#ts::after{ content:""; clear:both; display: table}
.r {background-color: #f56642; width: 1.57%; margin-right: 0.5%; float: left}
.b {background-color: #4299f5; width: 1.57%; margin-right: 0.5%; float: left}
.up {background-color: green}
.down {background-color: red}
.even {background-color: yellow}
.half {width: 50%; float: left; text-align: center; font-size: 12px; margin-bottom: 8px}

.current {
	margin: 10px;
	font-size: 75px;
	position: relative;
}

.barometer {
	font-size: 40px;
	margin: 0px 10px;
	display: inline-block;
}

.pressure span {
	font-size: 16px;
}
.trend {
	font-size: 16px;
}

.current img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%); 
	margin: 0px 10px;
}